doctype transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Hello
      p Failed to change your password...
      p Either the url is wrong, or time for resetting your password has expired.
      p Please try again.