
doctype transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Hello
      p Please Click on the link to create your new password. 
        a(href="#{linkToActivate}") Click here.